
section {
	border-style: solid;
	border-width: 1px;
	border-color: #2E656B; 
	width: 60rem;
	margin: 2rem 10rem 1rem 11.5rem;
	padding: 1.5rem;
	/*background-color: #993737;*/
	background-color: #2E656B;
	font-size: 1.5rem;
	justify-content: flex-start;
	color: white;g-k                                                                                          
	font-family: "Arial";
}

body {
	/*background-color: #b43737;*/
	background-color: #579096;

}

h1 {
	display: flex;
	justify-content: center;
	font-size: 3rem;
	font-family: "Georgia";
	/*color: #b43737;*/
	color:#2E656B;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	width: 83rem;
	margin: -10px 100px 50px 0px;
	padding: 1rem;
	background-color: white;

}

pre {
	border-style: solid;
	border-width: 1px;
	border-color: #373737;
	width: 85rem;
	margin: 0px 100px 10px 0px;
	background-color: #373737;
	height: 60px
}
.pesquisa {
	width: 400px;
	height: 40px;
	margin: -40px 10px 10px 950px;
}

#texto {
width: 300px;
height: 40px;
font-family: "Arial";
float: left;
font-size: 18px;
}

.btn {
	width: 40px;
	height: 40px;
	background-color: #2f4550;
	padding: 5px, 10px;
	cursor: pointer;
	margin: -100px 50px 5px -95px;
}

#texto:focus{
	border: solid 2px #2f4550;

}
h2{
	display:flex;
	/*background-color:#85DBE8;
	border-style: solid;
	border-width: 1px;
	border-color:#85DBE8;*/
	max-width: 30%
	font-color:white;
	font-size: 3rem;
	font-family: Georgia;
	justify-content:center;

}

.block2{

	padding-right:1rem;
	margin: 1rem;

}



.container{
	display: flex;
}

p{
	padding-right:1rem;
	margin: 1rem;
}

.dropbtn {
    background-color: #373737 ;
    color: white;
    padding: 20px ;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-family: 'Arial'
}

/* Hover color/focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: grey;
}


/* Search field */

#myInput {
  border-box: box-sizing;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* Focus/click on the search field */

#myInput:focus {outline: 3px solid #ddd;}

/* Position of the dropdown container */

.dropdown {
    display: flex;
    flex-direction: column; 

}


/*Dropdown content, to determine that it's hidden by default */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Secondary links inside the dropdown */

.dropdown-content b {
    color: white;
    background-color: #5B5D5E;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown-content b:hover {background-color: #f1f1f1} 


.show {display:block;}
